input{
    margin: 10px 20px;
    text-align: center;
}

p{
    text-align: center;
}

#cart-section {
    text-align: right;
    margin-top: 30px;
}

#cart-section a {
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

#cart-section a:hover {
    color: #23527c;
}

#search-form {
    text-align: center;
    margin-top: 30px;
}

#search-form input[type="text"] {
    width: 300px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
}

#search-form button[type="submit"] {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    cursor: pointer;
}

.homeSection {
    margin: 5px auto;
    padding: 20px;
    width: 50%;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 50px;
}

.homeSection p {
    margin-bottom: 10px;
}

#promotion {
    background-color: #f8f8f8;
    padding: 20px;
  }

  #promotion h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .promotionItem {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .promotionItem h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .promotionItem p {
    margin: 5px 0;
  }